

div[b-ddscohcc4a] {
    position: relative;
    width: 100%;
    height: 100%;
}

    div.divider[b-ddscohcc4a] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

div.divider > div[b-ddscohcc4a] {
    background-color: rgb(0 0 0 / 0.5);
}

div.divider.horizontal[b-ddscohcc4a] {
    cursor: ew-resize;
}

    div.divider.horizontal > div[b-ddscohcc4a] {
        height: 16px;
        margin-top: -8px;
        top: 50%;
    }

div.divider.vertical[b-ddscohcc4a] {
    cursor: ns-resize;
}

    div.divider.vertical > div[b-ddscohcc4a] {
        width: 16px;
        margin-left: -8px;
        left: 50%;
    }
