@page "/"

<LayoutTypeA>
    <Tool><Window Title="Tool"></Window></Tool>
    <Left><Window Title="Left"></Window></Left>
    <Main>
        <Window Title="Main"></Window>
    </Main>
    <Right><Window Title="Right"></Window></Right>
    <Task><Window Title="Task"></Window></Task>
</LayoutTypeA>

