
.w1

.c1 {
    flex: 0 0 8.33333333333333%
}

.w10 {
    flex: 0 0 10%
}

.c2 {
    flex: 0 0 16.6666666666667%
}

.w5 {
    flex: 0 0 20%
}

.c3, .w4 {
    flex: 0 0 25%
}

.c4, .w3 {
    flex: 0 0 33.3333333333333%
}

.c5 {
    flex: 0 0 41.6666666666667%
}

.c6, .w2 {
    flex: 0 0 50%
}

.c7 {
    flex: 0 0 58.3333333333333%
}

.c8 {
    flex: 0 0 66.6666666666667%
}

.c9 {
    flex: 0 0 75%
}

.c10 {
    flex: 0 0 83.3333333333333%
}

.c11 {
    flex: 0 0 91.6666666666667%
}

.c12, .w1 {
    flex: 0 0 100%
}
