menubar {
    display: flex;
    padding: 0.25rem;
}

menustrip {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}

::deep menuitem {
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    display: block;
}

    ::deep menuitem:hover, ::deep menuitem.open {
        background-color: rgb(0 0 0 / 0.10);
    }

