
div.panelA[b-yzzglc3wdt], div.panelB[b-yzzglc3wdt] {
    position: absolute;
    width:auto;
    height: auto;
    left:0;
    right:0;
    top:0;
    bottom: 0;
}

div.panelA[b-yzzglc3wdt] {
}

div.panelB[b-yzzglc3wdt] {
}
