@import '_content/jNet.Client.UI/jNet.Client.UI.bundle.scp.css';
@import '_content/jNet.Workstation.UI/jNet.Workstation.UI.bundle.scp.css';

/* /Pages/Stuff.razor.rz.scp.css */
div[b-0wwo66qsn4] {
    width: 100%;
    height: 400px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
main[b-oiwdsvlc2y] {
    position: relative;
    height: 100%;
}
