@page "/Form"
@inherits BaseRazor
@using jNet.Blazor.Client.Pages.Form
@using jNet.Blazor.Parts.Form
@using System.Text.Json;
@using System.Text.Json.Serialization;

<jNet.AspNetCore.Components.Forms.EditForm Model="@model">
    <jNet.AspNetCore.Components.Forms.DataAnnotationsValidator />
    <jNet.AspNetCore.Components.Forms.ValidationSummary />
    <AutoField />
    <jNet.AspNetCore.Components.Forms.InputText @bind-Value="model.Name" />
</jNet.AspNetCore.Components.Forms.EditForm>

<button @onclick="Click">Push</button>

<p>@Model2Json</p>


@code {
    Business model = new Business { Id = 234, Description = "Fred was here", Email = "s.e@t.com.au", ABN = 24108317997, ACN = 108317997, Name = "JerraNET" };


    private void Click()
    {
        model.Name = "TestCoy1";
        model.Description= "A new description";
    }

    string Model2Json => JsonSerializer.Serialize(model);
}

