@page "/business/{Id:long}"
@inherits BaseRazor

@if (businessModel == null)
{
    <p>Loading...</p>
}
else
{
    <MyForm Business="@businessModel"></MyForm>
}

@code {

    [Parameter] public long? Id { get; set; }

    private Business? businessModel = null;

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            NavigationManager.NavigateTo("Businesses");
        }

        try
        {
            businessModel = await Http.GetFromJsonAsync<Business>($"Business/{Id}");
        }
        catch (Exception)
        {
            NavigationManager.NavigateTo("Businesses");
        }
    }
}

