@page "/main"
@using jNet.Workstation.UI.Layouts
@using jNet.Workstation.UI.General

<LayoutTypeB Settings="@settings">
    <Tool>
        <button @onclick="@Save">Save</button>
    </Tool>
    <Left>
        <Window Title="Left">
            <jNet.Client.UI.General.AsyncWarpper Context="Context" DataPromise="@Nodes()">
                @if (Context is not null)
                {<Tree Nodes="@Context"></Tree> }
                else
                { <p>Wait for a tree</p>}
            </jNet.Client.UI.General.AsyncWarpper>
        </Window>
    </Left>

    <Right>
        <Window Title="Right">
            <p>@SelectedDefinition?.Name</p>
        </Window>
    </Right>

</LayoutTypeB>

