@page "/main"
@using jNet.Workstation.UI.Layouts
@using jNet.Workstation.UI.General
@namespace jNet.WaterNET.Workstation

<LayoutTypeB Settings="@settings">
    <Tool>
        <button @onclick="@Save">Save</button>
    </Tool>
    <Left>
        <Window Title="Left">
            <p>Scott's new thing</p>
            <jNet.Client.UI.General.AsyncWarpper DataPromise="@Nodes()">
                @if (@context is not null)
                {<Tree Nodes="@context"></Tree> }
                else
                { <p>Wait for a tree</p>}
            </jNet.Client.UI.General.AsyncWarpper>
        </Window>
    </Left>

    <Right>
        <Window Title="Right">
            <p>@SelectedDefinition?.Name</p>
        </Window>
    </Right>

</LayoutTypeB>

