@page "/page2"
<h3>page2</h3>




<jNet.Client.UI.Components.Dropdown>
    <Editor><input /></Editor>
    <DropDown>This is in the dropdown.</DropDown>
</jNet.Client.UI.Components.Dropdown>
<select>
    <option>abc</option>
    <option>abc</option>
    <option>abc</option>
    <option>abc</option>
    <option>abc</option>
    <option>abc</option>
</select>


✓✗✖⮟⮝▼▲