@inherits LayoutComponentBase
@using jNet.Blazor2.Components.Layouts

<header>
    The Taurie App
</header>
<div id="content">
    <SplitPanel>
        <PanelA>
            <nav>
                <NavMenu />
            </nav>
        </PanelA>
        <PanelB>
            <main>
                @Body
            </main>
        </PanelB>
    </SplitPanel>
</div>
<footer>© @DateTime.Now.Year - Taurie Pty Ltd</footer>
