@import '_content/jNet.Blazor2.Components/jNet.Blazor2.Components.bundle.scp.css';

/* /Pages/Index.razor.rz.scp.css */

div[b-1spxaeen4g] {
    position: relative;
    width: 100%;
    height: 100%;
}

    div.tool[b-1spxaeen4g] {
        background-color: antiquewhite;
    }


    div.left[b-1spxaeen4g] {
        background-color: indianred;
    }


    div.main[b-1spxaeen4g] {
        background-color: darkseagreen;
    }


    div.right[b-1spxaeen4g] {
        background-color: steelblue;
    }


    div.task[b-1spxaeen4g] {
        background-color: lightpink;
    }
/* /Pages/Stuff.razor.rz.scp.css */
div[b-i4n026phif] {
    width: 100%;
    height: 400px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
main[b-ppw9qaato0]{
    position: relative;
    height: 100%;
}
/* /Shared/Window.razor.rz.scp.css */

fieldset[b-i54ku4oq79]
{
    position: relative;
    width: 100%;
    height: 100%;
}
