@import '_content/jNet.Blazor.Parts/jNet.Blazor.Parts.bundle.scp.css';

/* /Pages/Drag/BaseDraggable.razor.rz.scp.css */
circle:focus[b-iz52fhi7yb] {
    fill-opacity: 0.5;
}
/* /Pages/DropDown/Drop.razor.rz.scp.css */


div.jNetDrop[b-xpg6gu130q] {
    display: inline-block;
    position: relative;
}

    div.jNetDrop > input[b-xpg6gu130q] {
        padding-right: calc(2rem-2px);
    }

    div.jNetDrop > button[b-xpg6gu130q] {
        position: absolute;
        right: 1px;
        top: 1px;
        bottom: 1px;
        width: calc(2rem - 2px);
        border: none;
        border-radius: 1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 1px solid lightgray;
        cursor: pointer;
    }

    div.jNetDrop > div.dropdown[b-xpg6gu130q] {
        display: none;
    }

        div.jNetDrop > div.dropdown.open[b-xpg6gu130q] {
            position: absolute;
            display: block;
            width: 100%;
            top: 100%;
            height: 200px;
            border: 1px solid lightgray;
            border-radius: 2px;
            border-top: none;
        }
