@using Microsoft.AspNetCore.Components.Forms
@typeparam T
@inherits InputBase<T>

<div class="dropdown" @onfocusout="@Close">
    <div class="topbit">
        <span class="editor">@Editor</span>
        <span class="button" tabindex="1" @onpointerdown="@OnButton">
            @if (isopen)
            {
                <text>
                    @ButtonClose
                </text>
            }
            else
            {
                <text>
                    @ButtonOpen
                </text>
            }
        </span>
    </div>
    <div class="dropcontent" style="display:@(isopen?"block":"none")">@DropDown</div>
</div>

@code
{
    static RenderFragment emptyFrag =@<text></text>;
static RenderFragment up = @<text>⮝</text>;
static RenderFragment down = @<text>⮟</text>;
}
