div.layout[b-7ng7ahqwtc] {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.tool[b-7ng7ahqwtc] {
    height: 40px;
}

div.main[b-7ng7ahqwtc] {
    flex-basis: 1;
    height:100%;
}
