/* _content/jNet.Client.UI/Components/Inspector.razor.rz.scp.css */
table[b-l0vb944xlf] {
    border-collapse: separate;
    width: 100%;
    background-color: var(--main-bg-color);
    border-spacing: 0;
    /*table-layout: fixed;*/
}

td[b-l0vb944xlf], th[b-l0vb944xlf] {
    border-top: 1px outset var(--main-bg-colorL);
    border-bottom: 1px outset var(--main-bg-colorL);
}

    td.space1[b-l0vb944xlf] {
        border-right: 1px outset var(--main-bg-colorL);
        width: .1em;
        cursor: ew-resize;
    }

    td.space2[b-l0vb944xlf] {
        border-left: 1px outset var(--main-bg-colorL);
        width: .1em;
        background-color: whitesmoke;
        cursor: ew-resize;
    }

    td.labels[b-l0vb944xlf], td.values[b-l0vb944xlf] {
        padding-left: 0.1em;
    }

    td.values[b-l0vb944xlf] {
        background-color: whitesmoke;
        border-right: 1px outset var(--main-bg-colorL);
    }

    td.labels[b-l0vb944xlf] {
        border-left: 1px outset var(--main-bg-colorL);
        color: white;
    }

/* _content/jNet.Client.UI/Splitters/MultiSplit.razor.rz.scp.css */

div[b-vj2je0e06m] {
    position: relative;
    width: 100%;
    height: 100%;
}

    div.divider[b-vj2je0e06m] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

        div.divider > div[b-vj2je0e06m] {
            background-color: rgb(0 0 0 / 0.5);
        }

        div.divider.horizontal[b-vj2je0e06m] {
            cursor: ew-resize;
        }

            div.divider.horizontal > div[b-vj2je0e06m] {
                height: 16px;
                margin-top: -8px;
                top: 50%;
            }

        div.divider.vertical[b-vj2je0e06m] {
            cursor: ns-resize;
        }

            div.divider.vertical > div[b-vj2je0e06m] {
                width: 16px;
                margin-left: -8px;
                left: 50%;
            }
/* _content/jNet.Client.UI/Splitters/Split.razor.rz.scp.css */
div[b-rrfjbzz7ix] {
    position: relative;
    width: 100%;
    height: 100%;
}

    div.divider[b-rrfjbzz7ix] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

        div.divider > div[b-rrfjbzz7ix] {
            background-color: rgb(0 0 0 / 0.5);
        }

        div.divider.horizontal[b-rrfjbzz7ix] {
            cursor: ew-resize;
        }

            div.divider.horizontal > div[b-rrfjbzz7ix] {
                height: 16px;
                margin-top: -8px;
                top: 50%;
            }

        div.divider.vertical[b-rrfjbzz7ix] {
            cursor: ns-resize;
        }

            div.divider.vertical > div[b-rrfjbzz7ix] {
                width: 16px;
                margin-left: -8px;
                left: 50%;
            }
/* _content/jNet.Client.UI/Splitters/SplitPanel.razor.rz.scp.css */

div.panelA[b-yzzglc3wdt], div.panelB[b-yzzglc3wdt] {
    position: absolute;
    width:auto;
    height: auto;
    left:0;
    right:0;
    top:0;
    bottom: 0;
}

div.panelA[b-yzzglc3wdt] {
}

div.panelB[b-yzzglc3wdt] {
}
/* _content/jNet.Client.UI/Splitters/Splitter.razor.rz.scp.css */


div[b-q7etw7c9fr] {
    position: relative;
    width: 100%;
    height: 100%;
}

    div.divider[b-q7etw7c9fr] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

div.divider > div[b-q7etw7c9fr] {
    background-color: rgb(0 0 0 / 0.5);
}

div.divider.horizontal[b-q7etw7c9fr] {
    cursor: ew-resize;
}

    div.divider.horizontal > div[b-q7etw7c9fr] {
        height: 16px;
        margin-top: -8px;
        top: 50%;
    }

div.divider.vertical[b-q7etw7c9fr] {
    cursor: ns-resize;
}

    div.divider.vertical > div[b-q7etw7c9fr] {
        width: 16px;
        margin-left: -8px;
        left: 50%;
    }
