

div.window
{
    height: 100%;
    background-color: #E6E7E8;
    padding: .25rem;
}

h2{
    font-size: 1rem;
}

article {
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px inset #E6E7E8;
    background-image: url('images/backUntitled.png');
}
