
form {
    padding: 1rem 1rem;

    label {
        font-size: smaller;
        display: inline-block;
        text-align: right;
        padding-right: 0.3rem;
        grid-area: label;
    }

    input, select, textarea {
        border: 1px solid lightgray;
        flex: 1 1 auto;
        height: 2rem;
        grid-area: field;

        .valid.modified:not([type=checkbox]) {
            outline: 1px solid #26b050;
        }

        .invalid {
            outline: 1px solid red;
        }
    }

    div.validation-message {
        color: red;
        grid-area: message;
        font-size: small;
    }

    div.form-group {
        min-height: 3.5rem;
        padding: 2px;
        align-items: baseline;
        display: grid;
        grid-template-columns: 7.5rem 1fr;
        grid-template-rows: min-content min-content;
        grid-template-areas: "label field" ". message";
    }

    @media (max-width: 768px) {
        div.form-group {
            min-height: 4.5rem;
            padding: 2px;
            align-items: baseline;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: min-content min-content min-content;
            grid-template-areas: "label" "field" "message";
        }
        label {
            text-align: left;
        }
    }
}
