@import '_content/jNet.Client.UI/jNet.Client.UI.bundle.scp.css';

/* _content/jNet.Workstation.UI/General/Window.razor.rz.scp.css */


div.window[b-mvcwp3ui3n]
{
    height: 100%;
    background-color: #E6E7E8;
    padding: .25rem;
}

h2[b-mvcwp3ui3n]{
    font-size: 1rem;
}

article[b-mvcwp3ui3n] {
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px inset #E6E7E8;
    background-image: url('images/backUntitled.png');
}
/* _content/jNet.Workstation.UI/Layouts/LayoutTypeA.razor.rz.scp.css */
div.layout[b-g1g0qquvj8] {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.tool[b-g1g0qquvj8] {
    height: 40px;
}

div.main[b-g1g0qquvj8] {
    flex-basis: 1;
    height:100%;
}
