@import '';

/* /Pages/Stuff.razor.rz.scp.css */
div[b-0wwo66qsn4] {
    width: 100%;
    height: 400px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
main[b-oiwdsvlc2y] {
    position: relative;
    height: 100%;
}
